.forgotPasswordContainer {
    width: 100vw;
   
    max-width: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
    
    padding-top: 13rem;
    padding-bottom: 10rem;
   
  }
  
  .forgotPasswordBox {
    background-color: white;
    width: 32rem;
    height: 50vh;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(23,26,254,.7);
    border-radius: 20px;
  }
 
  
  
  
 
  .forgotPasswordForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 70%;
    transition: all 0.5s;
  }
  
 
 
  .forgotPasswordForm > div {
    display: flex;
    width: 100%;
    align-items: center;
  }

  .forgotPasswordForm > div > input {
    padding: 1rem 4rem;
    padding-right: 1rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(23,26,254,.5);
    border-radius: 4px;
    font: 300 1rem cursive;
    outline: none;
  }
  
 
  .forgotPasswordForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.9rem;
    color: rgba(23,26,254,.5);
  }
  
  
  

 
  .forgotPasswordBtn {
    border: none;
    background-color: rgba(23,26,254,1);
    color: white;
    font: 300 1.1rem "Roboto";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    border: 2px solid rgba(23,26,254,1);
    border-radius: 20px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
 
  .forgotPasswordBtn:hover {
    background-color: white;
    color: rgba(23,26,254,1);
  }
  
.updateHeading{
    text-align: center;
   margin: auto;
   width: 50%;
   padding: 1.4rem;
   border-bottom: 1px solid rgba(23,26,254,1);
   font: 400 1.6rem "Roboto";
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
  /* @media screen and (max-width: 100px) {
    .forgotPasswordContainer {
      background-color: white;
    }
    .forgotPasswordBox {
      width: 100vw;
      height: 95vh;
    }
   
    
    .forgotPasswordForm {
      padding: 5vmax;
    }
  
   
    .forgotPasswordForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
   
    .forgotPasswordForm > div > svg {
      font-size: 2.8vmax;
    }
  
    .forgotPasswordForm > a {
      font: 500 1.8vmax "Gill Sans";
    }
  
   
  
   
    .forgotPasswordBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  } */